<!DOCTYPE html>
<html>
  <head>
    <title>New Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/CSS/Homepage.css" />
    <link rel="stylesheet" href="/static/CSS/Topnav.css" />
    <link rel="stylesheet" href="/static/CSS/Grid.css" />
    <link rel="stylesheet" href="/static/CSS/Sidenav.css" />
    <link rel="stylesheet" href="/static/CSS/Product.css" />
    <link rel="stylesheet" href="/static/CSS/ProductForm.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="container">
      <div class="grid-container">
        <div class="topnav">
          <div class="logo-container" onclick="returnToHomePage()">
            <img class="logo" src="/static/images/Logo.png" />
          </div>
          <span class="openbtn" onclick="openNav()">&#9776;</span>
          <div class="search-container">
            <form action="/search-results.html">
              <input type="text" placeholder="Search.." name="search" />
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <span class="fa" id="cart-icon" onclick="redirectToCart()"
            >&#xf07a;</span
          >
          <button
            class="loginbtn homepageLoginBtn"
            onclick="document.getElementById('id01').style.display='block'"
            style="width: auto"
            id="loginBtn"
          >
            Login
          </button>
          <div class="dropdown" id="dropdown">
            <button class="dropbtn" id="dropbtn">
              <label id="dropdown-label">label</label>
              <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
            <div class="dropdown-content">
              <a href="/logout">logout</a>
              <a href="/product/newProduct">Add Product</a>
              <a href="/orders">Order History</a>
            </div>
          </div>
        </div>

        <div class="side1">
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
              >&times;</a
            >
            <a href="/?category=technology">Technology</a>
            <a href="/?category=furniture">Furniture</a>
            <a href="/?category=pets">Pets</a>
          </div>
        </div>

        <div class="paper">
          <form
            action="/product/newProduct"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="row">
              <div class="col-25">
                <label class="label" for="name">Product Name</label>
              </div>
              <div class="col-75">
                <input
                  required
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Product Name"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label class="label" for="name">Seller Info</label>
              </div>
              <div class="col-75">
                <input
                  required
                  type="text"
                  id="seller"
                  name="seller"
                  placeholder="Seller Info"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="tel">Telephone Number</label>
              </div>
              <div class="col-75">
                <input
                  required
                  type="tel"
                  id="phone"
                  name="phone"
                  placeholder="Telephone Number.."
                />
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label class="label" for="category">Category</label>
              </div>
              <div class="col-75">
                <select id="category" name="category" required>
                  <option value="technology">Technology</option>
                  <option value="furniture">Furniture</option>
                  <option value="pets">Pets</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label class="label" for="description">Description</label>
              </div>
              <div class="col-75">
                <textarea
                  id="description"
                  name="description"
                  placeholder="Write something.."
                  style="height: 200px"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label class="label" for="Image">Image</label>
              </div>
              <div class="col-75">
                <input type="file" id="image" name="image" required />
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label class="label" for="price">Price</label>
              </div>
              <div class="col-75">
                <input
                  type="number"
                  step="0.01"
                  min="0"
                  id="price"
                  name="price"
                  required
                />
              </div>
            </div>

            <div class="row">
              <input type="submit" value="Submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

  <script src="/static/JS/Cookies.js"></script>
  <script src="/static/JS/Pathname.js"></script>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }

    window.addEventListener("load", function () {
      document
        .querySelector('input[type="file"]')
        .addEventListener("change", function () {
          if (this.files && this.files[0]) {
            var img = document.getElementById("image"); // $('img')[0]
            img.src = URL.createObjectURL(this.files[0]); // set src to blob url
          }
        });
    });
  </script>
</html>
