<!DOCTYPE html>
<html>
  <head>
    <title>Verification</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/CSS/Registration.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div>
      <form method="GET" action="/">
        <h4 class="text-warning text-center pt-5"><%= msg %></h4>
        <button type="submit">Return to Homepage</button>
      </form>
    </div>
  </body>
</html>
