<!DOCTYPE html>
<html>
  <head>
    <title>Password Recovery</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/CSS/Registration.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <form
      name="changePassword"
      method="POST"
      action="/password"
      onsubmit="return validateForm(name)"
    >
      <h4 class="text-warning text-center pt-5">Change Password</h4>
      <input type="hidden" class="input" name="email" id="email" required />
      <input type="hidden" class="input" name="token" id="token" required />
      <label>
        <input
          type="password"
          class="input"
          name="password"
          placeholder="PASSWORD"
          required
        />

        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label>
        <input
          type="password"
          class="input"
          name="confirm"
          placeholder="CONFIRM PASSWORD"
          required
        />

        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <h3 class="error" id="passwordNotMatch">Passwords don't match</h3>
      <button type="submit">submit</button>
    </form>
  </body>
  <script src="/static/JS/FormValidation.js"></script>
  <script>
    (function () {
      var url_string = window.location.href;
      var url = new URL(url_string);
      var token = url.searchParams.get("token");
      var email = url.searchParams.get("email");
      console.log(token);
      console.log(email);
      document.getElementsByName("email")[0].value = email;
      document.getElementsByName("token")[0].value = token;
    })();
  </script>
</html>
